[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
requests = "*"

[dev-packages]
jupyter = "*"
scipy = "*"
matplotlib = "*"

[requires]
python_version = "3.12"
